.hero {
  height: 100vh;
  background-image: url('../../assets/BackgroundHero.jpg'); /* pastikan file ada di public/ */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  color: white;
  animation: fadeInHero 2s ease-in-out;
}

.hero-content {
  max-width: 800px;
  animation: slideIn 1.5s ease-out;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.25rem;
}

/* Animasi */
@keyframes fadeInHero {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}
.hero-photo {
  width: 180px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.hero-btn {
  padding: 0.75rem 2rem;
  background-color: #ff6f00;
  color: white;
  border-radius: 999px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #ff9100;
}

